/*Whole Page Styling*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h2 {
  font-size: 2em;
}
/* Fonts */
@font-face {
  font-family: Lato;
  src: url(./Lato.ttf);
}
@font-face {
  font-family: OpenSans;
  src: url(./OpenSans.ttf);
}
/* Hero Styling */
.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-black {
  background-color: black;
  color: white;
}
.hero-pale {
  background-color: rgb(250.5,250.5,250.5);
  color:black;
}
.hero-body {
  height: 80%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* Divider */
.divider {
  width: 100vw;
  height: .75rem;
}
.half-divider {
  width: 100%;
  height: .75rem;
}
/*Navbar*/
nav {
  width: 100vw;
  height: 50px;
  margin: 0;
  background-color: rgb(25,22,30);
  /*To center content horizontally*/
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav-content {
  width: 80%;
  display: flex;
}
.list-item {
  display: inline-block;
  margin: auto;
}
nav a {
  color: rgb(125,125,125);
  text-decoration: none;
  font-family: Lato;
}
nav a:hover {
  color: white;
}
.list-item img {
  width: 1em;
  height: 1.25em;
}
/*Covid Banner*/
#covid-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  text-align: center;
  background-color: #0071E3;
}
#covid-banner a {
  color:white;
  text-decoration: none;
}
#covid-banner a:hover {
  text-decoration: underline;
}
/*Shop online banner*/
#shop-online-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
}
#shop-online-banner a {
  color: #06c;
  text-decoration: none;
}
/* First Hero */
#first-hero h2 {
  font-size: 2.25em;
  font-family:sans-serif;
}
#first-hero h2 img {
  width: 1em;
  height: 1em;
}
#first-hero h6 {
  color: rgb(190,0,0);
  font-family: Courier, monospace;
  font-size: 1rem;
  font-weight: 200;
}
#first-hero a {
  color: #0071E3;
  text-decoration: none;
  font-size: 1.25em;
}
#first-hero a:first-child {
  margin-right: 2rem;
}
#first-hero h3 {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 25px;
}
/* Second hero */
#second-hero a:first-child {
  margin-right: 2rem;
}
#second-hero p {
  color: #bf4800;
  font-size: .75em;
}
#second-hero h1 {
  font-size: 2.5em;
}
#second-hero h3 {
  font-size: 1.5em;
  font-weight: 100;
}
#second-hero a{
  color: #0071E3;
  text-decoration: none;
  font-size: 1.25em;
}
/* Third hero */
#third-hero {
  height: 100%;
}
#third-hero h2 {
  font-size: 2.5em;
}
#third-hero h2 img {
  width: .85em;
  height: .85em;
}
#third-hero a:first-child {
  margin-right: 2rem;
}
#third-hero a{
  color: #0071E3;
  text-decoration: none;
  font-size: 1.25em;
}
#third-hero h6 {
  color: rgb(190,0,0);
  font-family: Courier, monospace;
  font-size: 1rem;
  font-weight: 200;
}
#third-hero h3 {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 25px;
}
#third-hero {
  height: 85%;
}
/* Gridview */
.gridview {
  display: grid;
  background-color: white;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  padding: 0 .75rem 0 .75rem;
}
/* Apple event */
#apple-event {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-image: url("https://www.apple.com/v/home/n/images/promos/october-teaser/apple_event__bf33m3s42esy_large.jpg");
  background-size: 1262px 580px;
  background-repeat: no-repeat;
  background-position: center;
  height: 580px;
}
#apple-event-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20%;
  margin-bottom: 2em;
}

.multi-color {
  background-image: linear-gradient(orangered,yellow);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color:transparent;
  font-size: 1.25em;
}
#apple-event-info h5{
  color: 	#E0CC3F;
  font-size: 1.25em;
  font-weight: 100;
}
#apple-event-info div a {
  color: #0071E3;
  text-decoration: none;
  font-size: 1.125em;
}
/* Apple one */
#apple-one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3em 0 3em 0;
  font-family: Lato;
  background-color: rgb(250.5,250.5,250.5);
}
#apple-one p {
  color: #bf4800;
  font-size: .75em;
}
#apple-one h3 img {
  width: 1em;
  height: 1em;
}
#apple-one h3 {
  font-size: 2em;
  font-weight:600;
}
#apple-one h5 {
  font-size: 1.25em;
  font-weight: 100;
}
#apple-one h5 sup {
  font-family:fantasy;
  font-weight: 400;
}
#apple-one div a {
  color: #0071E3;
  text-decoration: none;
}
#apple-one-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  margin-top: -2em;
}
#apple-one img:nth-child(2) {
  margin-top: 2em;
}
/*Apple fitness*/
#apple-fitness {
  background-image: url("https://www.apple.com/v/home/n/images/promos/apple-fitness-plus/tile__cauwwcyyn9hy_large.jpg");
  background-size: 1262px 580px;
  background-repeat: no-repeat;
  background-position: center;
  height: 580px;
}
#apple-fitness-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
#apple-fitness-info p {
  color: #bf4800;
  font-size: .75em;
}
#apple-fitness-info h3 img {
  width: 1em;
  height: 1em;
}
#apple-fitness-info h3 {
  font-size: 2.25em;
  font-weight:600;
}
#apple-fitness-info h5 {
  font-size: 1.25em;
  font-weight: 100;
}
#apple-fitness-info div a {
  color: #0071E3;
  text-decoration: none;
}
/* Tiny World */
#tiny-world {
  background-size: 1262px 580px;
  background-repeat: no-repeat;
  background-position: center;
  height: 580px;
  background-image: url("https://www.apple.com/v/home/n/images/promos/tv-plus-tiny-world/tile__cauwwcyyn9hy_large.jpg");
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: .9;
}
#tiny-world-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16em;
  width: 100%;
}
#tiny-world-info img {
  width: 1em;
  height: 1em;
}
#tiny-world-info h4{
  font-size: 2.5em;
  margin-bottom: .75em;
}
#tiny-world-info h6 {
  font-family: Stencil;
  letter-spacing: 3px;
}
#tiny-world-info h6 span {
  font-weight: bold;
  font-size: 1.25em;
}
#tiny-world h2:nth-of-type(1){
  font-size: 6.5em;
}
#tiny-world h2:nth-of-type(2) {
  font-size: 4em;
  font-weight: 100;
}
#tiny-world a {
  color: white;
  text-decoration: none;
  font-size: 1.25em;
}
/* Apple TV */
#apple-tv {
  background-size: 680px 370px;
  background-repeat: no-repeat;
  background-position: center;
  height: 580px;
  background-image: url("https://www.apple.com/v/home/n/images/promos/bts-last-chance/bts_tile__f5qqm0vhrqye_large.jpg");
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
#apple-tv p {
  color: #bf4800;
  font-size: .75em;
}
#apple-tv h3 {
  font-size: 2.125em;
}
#apple-tv a {
  color: #0071E3;
  text-decoration: none;
  font-size: 1.125em;
}
/* Apple radio */
#apple-radio {
  background-size: 1262px 580px;
  background-repeat: no-repeat;
  background-position: center;
  height: 580px;
  background-image: url("https://www.apple.com/v/home/n/images/promos/apple-music-live-radio/tile__cauwwcyyn9hy_large.jpg");
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  padding-top: 16.75%;
}
#apple-radio h3 {
  font-size: 2.25em;
}
#apple-radio a {
  padding-top: 1em;
  color: #0071E3;
  text-decoration: none;
}
footer {
  background-color: WhiteSmoke;
  font-size: .75em;
  color: Gray;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer-content {
  width: 80%;
  margin: 1.5em;
}
#footer-disclaimer p {
  line-height: 1.75;
}
#footer-disclaimer hr {
  margin-top: 1.75em;
}
/* Footer nav */
#footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 2;
}
#footer-nav h6, ul {
  font-size: .7rem;
}
#footer-nav h6 {
  color: black;

}
#footer-nav a {
  color: gray;
  text-decoration: none;
}
#footer-nav a:hover {
  text-decoration: underline;
}
#footer-nav ul {
  margin-bottom: 3em;
  list-style-type: none;
  font-weight: 100;
}
#footer-nav h6 {
  margin-top: 1.15em;
  font-weight: 600;
}
#footer-nav div {
  width: 20%;
}
/* Footer copyright */
#footer-copyright {
  line-height: 3;
}
#footer-copyright a{
  color: #006ae3;
  text-decoration: none;
}
#footer-copyright a:hover {
  text-decoration: underline;
}
/* Footer author area and country chooser */
#footer-copyright-country {
  clear: both;
}
address {
  display: inline-block;
  margin-right: 3em;
}
#footer-copyright a {
  color: grey;
  letter-spacing: 1px;
}
#left {
  float: left;
}
#right {
  float: right;
}
/* Sticky for nav */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + header {
  padding-top: 50px;
}