/*Whole Page Styling*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h2 {
  font-size: 2em;
}
/* Fonts */
@font-face {
  font-family: Lato;
  src: url(./Lato.ttf);
}
@font-face {
  font-family: OpenSans;
  src: url(./OpenSans.ttf);
}
/* Hero Styling */
.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-black {
  background-color: black;
  color: white;
}
.hero-pale {
  background-color: rgb(250.5,250.5,250.5);
  color:black;
}
.hero-body {
  height: 80%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* Divider */
.divider {
  width: 100vw;
  height: .75rem;
}
/*Navbar*/
nav {
  width: 100vw;
  height: 50px;

  background-color: rgb(25,22,30);
  /*To center content horizontally*/
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav-content {
  width: 80%;
  display: flex;
}
.list-item {
  display: inline-block;
  margin: auto;
}
nav a {
  color: rgb(125,125,125);
  text-decoration: none;
  font-family: Lato;
}
nav a:hover {
  color: white;
}
.list-item img {
  width: 1em;
  height: 1.25em;
}
/*Covid Banner*/
#covid-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  text-align: center;
  background-color: #0071E3;
}
#covid-banner a {
  color:white;
  text-decoration: none;
}
#covid-banner a:hover {
  text-decoration: underline;
}
/*Shop online banner*/
#shop-online-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
}
#shop-online-banner a {
  color: #06c;
  text-decoration: none;
}
/* First Hero */
#first-hero h2 {
  font-size: 2.25em;
  font-family:sans-serif;
}
#first-hero h2 img {
  width: 1em;
  height: 1em;
}
#first-hero h6 {
  color: rgb(190,0,0);
  font-family: Courier, monospace;
  font-size: 1rem;
  font-weight: 200;
}
#first-hero a {
  color: #0071E3;
  text-decoration: none;
  font-size: 1.25em;
}
#first-hero a:first-child {
  margin-right: 2rem;
}
#first-hero h3 {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 25px;
}
/* Second hero */
#second-hero a:first-child {
  margin-right: 2rem;
}
#second-hero p {
  color: #bf4800;
  font-size: .75em;
}
#second-hero h1 {
  font-size: 2.5em;
}
#second-hero h3 {
  font-size: 1.5em;
  font-weight: 100;
}
#second-hero a{
  color: #0071E3;
  text-decoration: none;
  font-size: 1.25em;
}
/* Third hero */
#third-hero {
  height: 100%;
}
#third-hero h2 {
  font-size: 2.5em;
}
#third-hero h2 img {
  width: .85em;
  height: .85em;
}
#third-hero a:first-child {
  margin-right: 2rem;
}
#third-hero a{
  color: #0071E3;
  text-decoration: none;
  font-size: 1.25em;
}
#third-hero h6 {
  color: rgb(190,0,0);
  font-family: Courier, monospace;
  font-size: 1rem;
  font-weight: 200;
}
#third-hero h3 {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 25px;
}
#third-hero {
  height: 85%;
}
/* Gridview */
.gridview {
  display: grid;
  background-color: white;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  padding: 0 .75rem 0 .75rem;
}
/* Apple event */
#apple-event {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-image: url("https://www.apple.com/v/home/n/images/promos/october-teaser/apple_event__bf33m3s42esy_large.jpg");
  background-size: 1262px 580px;
  background-repeat: no-repeat;
  background-position: center;
  height: 580px;
}
#apple-event-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20%;
  margin-bottom: 2em;
}

.multi-color {
  background-image: linear-gradient(orangered,yellow);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color:transparent;
  font-size: 1.25em;
}
#apple-event-info h5{
  color: 	#E0CC3F;
  font-size: 1.25em;
  font-weight: 100;
}
#apple-event-info div a {
  color: #0071E3;
  text-decoration: none;
  font-size: 1.125em;
}
/* Apple one */
#apple-one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3em 0 3em 0;
  font-family: Lato;
  background-color: rgb(250.5,250.5,250.5);
}
#apple-one p {
  color: #bf4800;
  font-size: .75em;
}
#apple-one h3 img {
  width: 1em;
  height: 1em;
}
#apple-one h3 {
  font-size: 2em;
  font-weight:600;
}
#apple-one h5 {
  font-size: 1.25em;
  font-weight: 100;
}
#apple-one h5 sup {
  font-family:fantasy;
  font-weight 400;
}
#apple-one div a {
  color: #0071E3;
  text-decoration: none;
}
#apple-one-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  margin-top: -2em;
}
#apple-one img:nth-child(2) {
  margin-top: 2em;
}
