/*Whole Page Styling*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h2 {
  font-size: 2em;
}
/* Fonts */
@font-face {
  font-family: Lato;
  src: url(./Lato.ttf);
}
@font-face {
  font-family: OpenSans;
  src: url(./OpenSans.ttf);
}
/* Hero Styling */
.hero {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*Navbar*/
nav {
  width: 100vw;
  height: 50px;

  background-color: rgb(25,22,30);
  /*To center content horizontally*/
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav-content {
  width: 80%;
  display: flex;
}
.list-item {
  display: inline-block;
  margin: auto;
}
nav a {
  color: rgb(125,125,125);
  text-decoration: none;
  font-family: Lato;
}
nav a:hover {
  color: white;
}
.list-item img {
  width: 1em;
  height: 1.25em;
}
/*Covid Banner*/
#covid-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  text-align: center;
  background-color: #0071E3;
}
#covid-banner a {
  color:white;
  text-decoration: none;
}
#covid-banner a:hover {
  text-decoration: underline;
}
/*Shop online banner*/
#shop-online-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
}
#shop-online-banner a {
  color: #06c;
  text-decoration: none;
}
/* First Hero */
.hero-black {
  background-color: black;
  color: white;
}
#first-hero-body {
  height: 90%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#first-hero-body h2 {
  font-size: 2.25em;
  font-family:sans-serif;
}
#first-hero-body h2 img {
  width: 1em;
  height: 1em;
}
#first-hero-body h6 {
  color: rgb(190,0,0);
  font-family: Courier, monospace;
  font-size: 1rem;
}
#first-hero-body a {
  color: #0071E3;
  text-decoration: none;
  font-size: 1.25em;
}
#first-hero-body a:first-child {
  margin-right: 2rem;
}
#first-hero-body h3 {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 25px;
}
